#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.comment-section {
  border: solid;
  margin-top: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#downvote-button {
  background-color: red;
}
#upvote-button {
  background-color: blue;
}

#collapsible-button {
  margin-top: 5px;
}

.nav {
  background-color: lightcyan;
}

#main-header {
  grid-column: 1/4;
  grid-row: 1;
  background: #a2d4fc;
  padding: 2rem;
  margin: 1rem;
}

.article-section {
  margin-top: 5px;
}

#logged {
  text-align: right;
  font-size: 10px;
}

.comment-title {
  font-size: 21px;
  font-style: italic;
}

#delete-comment {
  margin-bottom: 10px;
}

.comment-body {
  border-bottom: solid;
  padding-bottom: 10px;
}

#comment-time {
  font-size: 12px;
}

.votes {
  font-weight: bold;
  color: rgb(7, 87, 72);
}
